.sticker {
    font-family: Helvetica, Arial;
}
.sticker .sample-id {
    text-align:center;
}
table {
    border-collapse:collapse;
    margin: none;
}
th {
    text-align: left;
    text-transform: none;
    border: 1px solid black;
    padding:0 2mm 0 2mm;
}
td {
    border: 1px solid black;
    padding: none;
    padding:0 2mm 0 2mm;
}
