@page {
    size: 127mm 100mm;
    margin: 5mm;
}
body {
    font-family: Helvetica, Arial;
    font-size:12pt !important;
    color:#000 !important;
}
table {
    border-collapse:collapse;
    width:100%;
}
th {
    text-align: left;
    border: 1px solid #aaa;
    padding:0.5mm 2mm 0.5mm 2mm;
}
td {
    border: 1px solid #aaa;
    padding:0.5mm 2mm 0.5mm 2mm;
    color:#000 !important;
}
td.client {
    text-align:center;
    color:#000 !important;
}

table.analyses{
    margin-top:1mm;
}

table.analyses td{
    text-align:center;
    color:#000 !important;
}
