.sticker {
    font-family: Helvetica, Arial;
}
.sticker .sample-id {
    text-align:center;
}
table {
    border-collapse:collapse;
    margin: none;
}
th {
    text-align: left;
    text-transform: none;
    border: none;
    padding:none;
}
td {
    border: none;
    padding: none;
}
