# This buildout can be used to obtain a complete test system from scratch:
#
# Use it like this:
#
#    virtualenv .
#    ./bin/pip install zc.buildout
#    bin/buildout

[buildout]
extends = http://dist.plone.org/release/4.3.4/versions.cfg
versions = versions
develop = .
extensions = mr.developer

auto-checkout = *

zeoserver-address = 8110
zeoclient-address = 8080
user = admin:adminsecret

parts =
    lxml
    omelette
    zeoserver
    zeoclient
    i18ndude
    update_translations

eggs =
    bika.lims
    bika.wine
    bika.bbk
    i18ndude
    lxml
    zest.releaser


[sources]
bika.lims = git https://github.com/bikalabs/Bika-LIMS.git branch=hotfix/3.1.8
bika.wine = git https://github.com/bikalabs/bika.wine.git branch=master

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml==2.3.6
force = false
static-build = true

[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = ${buildout:zeoserver-address}
var = var
blob-storage = var/blobstorage
zserver-threads = 1
zeo-log     = var/zeoserver.log
pid-file    = var/zeoserver.pid
socket-name = var/zeo.zdsock

[zeoclient]
recipe = plone.recipe.zope2instance
var = var
blob-storage = var/blobstorage
zeo-address = ${buildout:zeoserver-address}
http-address = ${buildout:zeoclient-address}
user = ${buildout:user}
resources = ${buildout:directory}/resources
locales = ${buildout:directory}/locales
eggs = ${buildout:eggs}
zeo-client = true
shared-blob = on
http-fast-listen = off
event-log = var/zeoclient-event.log
z2-log    = var/zeoclient-Z2.log
pid-file  = var/zeoclient.pid
lock-file = var/zeoclient.lock

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs = bika.bbk [test]

[robot]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    plone.app.robotframework

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[update_translations]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/update_translations
input = inline:
    #!/bin/sh
    # Generated by buildout from bika.bbk/buildout.cfg
    # Allows manual.pot to override 'bika' and 'plone' domains.
    I18NDUDE=${buildout:directory}/bin/i18ndude
    LOCALES=${buildout:directory}/bika/bbk/locales
    cd $LOCALES

    echo :: 'bika'
    SRC_POT=${buildout:directory}/src/bika.lims/bika/lims/locales/bika.pot
    echo :: $I18NDUDE admix manual.pot $SRC_POT > bika-tmp.pot
    $I18NDUDE admix manual.pot $SRC_POT > bika-tmp.pot
    echo msgcat --strict --use-first bika-tmp.pot $SRC_POT > bika.pot
    msgcat --strict --use-first bika-tmp.pot $SRC_POT > bika.pot
    echo $I18NDUDE sync --pot bika.pot */LC_MESSAGES/bika.po
    $I18NDUDE sync --pot bika.pot */LC_MESSAGES/bika.po
    rm bika-tmp.pot

    echo :: 'plone'
    SRC_POT=${buildout:directory}/src/bika.lims/bika/lims/locales/plone.pot
    echo :: $I18NDUDE admix manual.pot $SRC_POT > plone-tmp.pot
    $I18NDUDE admix manual.pot $SRC_POT > plone-tmp.pot
    echo msgcat --strict --use-first plone-tmp.pot $SRC_POT > plone.pot
    msgcat --strict --use-first plone-tmp.pot $SRC_POT > plone.pot
    echo $I18NDUDE sync --pot plone.pot */LC_MESSAGES/plone.po
    $I18NDUDE sync --pot plone.pot */LC_MESSAGES/plone.po
    rm plone-tmp.pot

    find . -name "*.mo" -delete
    for po in `find . -name "*.po"`; do msgfmt -o `dirname $po`/`basename $po .po`.mo $po; done
mode = 755

[versions]
zc.buildout=2.3.1
setuptools=15.1
